VITE_STRIPE_CLIENT=pk_test_51IjNFHEj*****0IEiX31PT
VITE_GOOGLE_API_KEY=AIzaSyA3*****gbjng3M
VITE_API_SERVER_URL=http://localhost:1337
VITE_DASHBOARD_URL=http://localhost:5000
VITE_WEBSITE_URL=http://localhost:4000
VITE_SPONSOR_DISTANCE=4000
VITE_SPONSOR_MAX_PREMIUM=2
VITE_SPONSOR_MAX_REGULAR=2