VITE_STRIPE_CLIENT=pk_test_51IjNFHEjKv********0IEiX31PT
VITE_API_SERVER_URL=http://localhost:1337
VITE_DASHBOARD_URL=http://localhost:5000
VITE_WEBSITE_URL=http://localhost:4000
STRIPE_FEE_PERCENT=3.5
STRIPE_FEE_PER_SALE=30
APP_FEE_PERCENT=0
APP_FEE_PER_SALE=0